* {
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html,  body {
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    min-height: 100%;
    min-width: 310px;
    width: 310px;
    margin: 0 auto;
    display: flex;
}

.ScoreBoard {
    display: flex;
    width: 100%;
    padding: 25px 0;
    align-items: center;
    justify-content: space-between;
}
.column {
    min-width: 33.3333%;
    width: 33.3333%;
    max-width: 33.3333%;
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #3e3d3d;
}
.score-title {
    min-height: 40px;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #333333 0%, #141414 100%);
    color: white;
    font-weight: 500;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 1px;
}
.score {
    display: flex;
    width: 100%;
    min-height: 60px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: white;
        font-weight: 500;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    background: linear-gradient(to bottom, #333333 0%, #141414 100%);
    font-size: 40px;
}

.Board {
    width: 300px;
    height: 300px;
    border: 4px solid #ddd;
    display: flex;
    flex-wrap: wrap;
}

.Tile {
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.Tile div {
    min-height: 98px;
    min-width: 98px;
    height: 98px;
    width: 98px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: #2196f3;
}

.active {
    background: #FF4900 !important;
}

.bg-gradient1 span,
.bg-gradient1:before {
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

/* fancy Button */
.fancy-button {
  display: inline-block;
  margin: 0;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 24px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}
.fancy-button span {
  display: inline-block;
  padding: 10px 12px;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fancy-button:focus {
  color: #ffffff;
}
.fancy-button:hover {
  color: #ffffff;
}
.fancy-button:hover span {
  -webkit-filter: brightness(0.9) contrast(1.2);
          filter: brightness(0.9) contrast(1.2);
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}
.fancy-button:hover:before {
  bottom: 3px;
  -webkit-filter: blur(6px) brightness(0.8);
          filter: blur(6px) brightness(0.8);
}
.fancy-button:active span {
  -webkit-filter: brightness(0.75) contrast(1.7);
          filter: brightness(0.75) contrast(1.7);
}
.fancy-button.pop-onhover:before {
  opacity: 0;
  bottom: 10px;
}
.fancy-button.pop-onhover:hover:before {
  bottom: -7px;
  opacity: 1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.fancy-button.pop-onhover:hover span {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.fancy-button.pop-onhover:hover:active span {
  -webkit-filter: brightness(1) contrast(1);
          filter: brightness(1) contrast(1);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fancy-button.pop-onhover:hover:active:before {
  bottom: 0;
  -webkit-filter: blur(5px) brightness(0.85);
          filter: blur(5px) brightness(0.85);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.footer {
    text-align: center;
    height: 42%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}
.footer p, .footer a {
    font-size: 12px;
}
